<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="sming-utilities" value="https://nuget.pkg.github.com/sming-code/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <sming-utilities>
      <add key="Username" value="%Nuget_CustomFeedUserName%" />
      <add key="ClearTextPassword" value="%Nuget_CustomFeedPassword%" />
    </sming-utilities>
  </packageSourceCredentials>
</configuration>